.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  }

.logo-span {
  color: #2e2f42;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal; 
}

.address-list {
  list-style: none;
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.address-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
.banner {
  background-color: #2e2f42;
   text-align: center;
}

.banner-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
}

.banner-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
   cursor: pointer;
  
}

.banner-button:hover,
.banner-button:focus {
  background-color: #404bbf;
}

.team-list,
.portfolio-list,
.benefits-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.team-item,
.portfolio-item,
.benefits-list-item {
  flex-basis: calc((100% - 72px) / 4); /* 4 items with 24px gap */
}

.benefits-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-title-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-title-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio-section {
  background-color: #F4F4FD;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-item {
  background-color: #FFFFFF;
border-bottom: 1px solid #e7e9fc;
}

.portfolio-item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
} 

.footer {
  background-color: #2e2f42;
  } 

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
   margin-bottom: 16px;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  margin: 0;
}